div(class='breadcrumbs ' + breadcrumbsMod)
    div(class='bx-breadcrumb')
        div(class="bx-breadcrumb-item" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" itemref="bx_breadcrumb_1")
            a(href="/" title="site-name" itemprop="url" class='link')
                span(itemprop="title") Главная
        div(class="bx-breadcrumb-item")
            span #{title}