header.header#header
    .header-wrp 
        .header-burger.js-burger 
            .wrp 
                span 
                span 
                span
        .header-logo
            a(href="./")
                img.logo(src="img/logo.png")
        .header-menu__wrp 
            ul.header-menu
                li._active 
                    a(href="#") О бренде
                li
                    a(href="#") Ассортимент
                li
                    a(href="#") Сотрудничество
                li
                    a(href="#") Скупка
                li
                    a(href="#") Где купить
                li
                    a(href="#") Новости
                li
                    a(href="#") Контакты
        .header-info__wrp 
            .header-info__btn._tel
                a(href="tel:+375255987865")
                    .header-info__btn-icon
                        +icon('header-tel')
                    span +375 (25) 598-78-65
            .header-info__btn
                a(href="#")
                    .header-info__btn-icon
                        +icon('header-user')
                    span Личный кабинет
            .header-info__btn._lang
                a(href="#") EN
        .header-mob
            .header-mob__wrp
                .header-mob__menu
                .header-mob__info
                    


