extends ../layout/main

block variables
    - var title = '404';

block content
    include ../modules/header
    main
        .page-404 
            .page-404__wrp
                .page-404__text 
                    .page-404__text-title Такой страницы не существует 
                    .page-404__text-desc К сожалению данная страница удалена. Вы можете вернуться на главную страницу и продолжить поиск информации
                    .page-404__text-btn
                        a(href="./").btn Вернуться на главную


    include ../modules/footer