extends ../layout/main

block variables
	- var title = 'О компании';
	- var breadcrumbsMod = '_white';
block libs-css
	link(href="./libs/slick-theme.css" rel="stylesheet")
	link(href="./libs/slick.css" rel="stylesheet")
block libs-js
	script(src="./libs/slick.js")
	script(src="./js/about.js")

block content
	include ../modules/header
	main
		.container 
			include ../modules/breadcrumbs
			.banner-head(style="background-image: url('./img/content/about/banner.png');")
			h1.hide= title
			.seo-text._lg
				.zag История нашего бренда
				p ZORKA (в переводе с белорусского языка «ЗОРКА» значит «ЗВЕЗДА») – крупнейший Белорусский ювелирный завод, который был основан в 2007 году в Минске
			.about-block 
				.about-block__info
					.title Почему мы являеися лидерами
					p Вот уже много лет ювелирный завод ZORKA занимает лидирующие позиции по производству ювелирных изделий в стране.
					p Каждое изделие под брендом ZORKA – уникально и эксклюзивно. Каждая стадия его производства, начиная от подготовки эскиза и заканчивая конечной обработкой – это тончайшее искусство, делающее изделия узнаваемыми и любимыми. Внедренные сверхсовременные технологии позволяют осуществлять трехмерное моделирование, литье с камнями, производство бесшовных лазерную резку и многие другие сложно технические процессы.
					p В ювелирных коллекциях дизайнеры ZORKA сочетают как классический стиль, так и все самые модные ювелирные тенденции. 
					p Браслеты, броши, кольца, серьги, колье, пирсинг, подвески и другие ювелирные украшения, выпускаемые под брендом ZORKA, имеют неповторимый дизайн, который оценят представители как прекрасной половины человечества, так и сильного пола, обладающие чувством стиля и вкуса.
					p Украшения ZORKA – это выбор тех, кто умеет ценить прекрасное
					p Браслеты, броши, кольца, серьги, колье, пирсинг, подвески и другие ювелирные украшения, выпускаемые под брендом ZORKA, имеют неповторимый дизайн, который оценят представители.
				.about-block__img
					img(src="img/content/about/img.png")
			.about-block 
				.about-block__img
					//- <iframe width="900" height="506" src="https://www.youtube.com/embed/itzFKx2mVaU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					video(width="900" height="506" controls)
						source(src="./temp/video.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
				.about-block__info
					.title Как происходит процесс разработки изделия
					p Начинается любое украшение с эскиза, который выражает особенности его идеи. Далее к процессу подключается специальный художник, который выполняет трехмерную 3D модель с помощью специальной программы. Готовый эскиз передается 3D художником ювелиру для выращивания пластиковой модели украшения на специальном 3D принтере. Эта модель с точностью до сотых долей миллиметра повторяет предполагаемое изделие.
					p Далее в форму заливается расплавленный сплав золота определенной пробы - получается так называемая мастер-модель, на основании которой делают специальную эластичную форму, состоящую из двух половинок. С помощью такой формы получают восковую копию мастер-модели изделия, по которой снова изготавливают гипсовую форму для литья золотой заготовки.
					p После отливки золотой или серебряной заготовки она обрабатывается ювелиром-монтировщиком, из рук которого выходит почти готовое отполированное изделие, в котором при необходимости закрепляется камень, а потом проводится окончательная полировка и чистка украшения. Финальными стадиями производства являются контроль качества, пробирование, клеймирование и выдача экспертного заключения на ювелирное изделие.
					p Далее в форму заливается расплавленный сплав золота определенной пробы - получается так называемая мастер-модель, на основании которой делают специальную эластичную форму, состоящую из двух половинок. С помощью такой формы получают восковую копию мастер-модели изделия, по которой снова изготавливают гипсовую форму для литья золотой заготовки.
			.about-block
				.about-block__stage 
					.about-stage__text
						.title Ключевые события в истории ZORKA
						p Листайте нашу ленту и узнайте, как развивался наш бренд по годам. Каждый год принес что-то новое в наше развитие
					.about-stage__scale.js-stage-scale
						.about-stage__scale-item.js-stage-scale-el(data-tab="1") 2007
						.about-stage__scale-item.js-stage-scale-el(data-tab="2") 2008
						.about-stage__scale-item.js-stage-scale-el(data-tab="3") 2009
						.about-stage__scale-item.js-stage-scale-el(data-tab="4") 2012
						.about-stage__scale-item.js-stage-scale-el(data-tab="5") 2013
						.about-stage__scale-item.js-stage-scale-el(data-tab="6") 2014
						.about-stage__scale-item.js-stage-scale-el(data-tab="7") 2017
						.about-stage__scale-item.js-stage-scale-el(data-tab="8")._active  2019

					.about-stage__img.js-stage-content
						.about-stage__img-item(data-tab = "1")._active.js-stage-content-el 	
							img(src="img/content/about/img2.png")
						- for(var i = 2;i<9;i++)
							.about-stage__img-item(data-tab = +i).js-stage-content-el
								img(src="img/content/about/img.png")
					.about-stage__content.js-stage-content 
						.about-stage__content-item(data-tab = "1")._active.js-stage-content-el
								p Закладка фундамента нового собственного завода по производству ювелирных изделий ZORKA в свободной экономической зоне Минска. Генеральным архитектором и проектировщиком выступил итальянец Джузеппе Даль Досо, который проектировал завод для знаменитой ювелирной компании Tiffany в США и другие крупные ювелирные предприятия в Японии, Бразилии и Саудовской Аравии.
								p Ювелирный завод ZORKA принял участие в Международной ювелирной выставке «Ару Алматы-2012», прошедшей в Казахстане. Эта выставка стала первым шагом на пути выхода белорусского бренда на казахстанский рынок. Запоминающийся дизайн не только представленных украшений, но и самого стенда нашел признание у посетителей и организаторов выставки, результатом чего стал диплом «За самый оригинальный дизайн стенда».
								p Ювелирный завод ZORKA признан победителям Международного фестиваля-конкурса «Выбор года 2012». Международный фестиваль-конкурс «Choice of the Year» («Выбор года») - это общенациональный ежегодный проект, занимающийся определением и дальнейшей популяризацией наиболее качественных и известных товаров и услуг в различных товарных категориях на белорусском рынке.
								p Ювелирный завод ZORKA признан победителям Международного фестиваля-конкурса «Выбор года 2012». Международный фестиваль-конкурс «Choice of the Year» («Выбор года») - это общенациональный ежегодный проект, занимающийся определением				
						- for(var i = 2;i<9;i++)
							.about-stage__content-item(data-tab = +i).js-stage-content-el
								p Закладка фундамента нового собственного завода по производству ювелирных изделий ZORKA в свободной экономической зоне Минска. Генеральным архитектором и проектировщиком выступил итальянец Джузеппе Даль Досо, который проектировал завод для знаменитой ювелирной компании Tiffany в США и другие крупные ювелирные предприятия в Японии, Бразилии и Саудовской Аравии.
								p Ювелирный завод ZORKA принял участие в Международной ювелирной выставке «Ару Алматы-2012», прошедшей в Казахстане. Эта выставка стала первым шагом на пути выхода белорусского бренда на казахстанский рынок. Запоминающийся дизайн не только представленных украшений, но и самого стенда нашел признание у посетителей и организаторов выставки, результатом чего стал диплом «За самый оригинальный дизайн стенда».
								p Ювелирный завод ZORKA признан победителям Международного фестиваля-конкурса «Выбор года 2012». Международный фестиваль-конкурс «Choice of the Year» («Выбор года») - это общенациональный ежегодный проект, занимающийся определением и дальнейшей популяризацией наиболее качественных и известных товаров и услуг в различных товарных категориях на белорусском рынке.
								p Ювелирный завод ZORKA признан победителям Международного фестиваля-конкурса «Выбор года 2012». Международный фестиваль-конкурс «Choice of the Year» («Выбор года») - это общенациональный ежегодный проект, занимающийся определением				
	include ../modules/footer
		