block variables

doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        title Вы используете браузер Internet Explorer
        link(rel="stylesheet" type='text/css' href="./css/main.css")
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        .page-ie
            .page-ie__wrp 
                .page-ie__zag   
                    img(src="./img/content/ie/logo.png", alt="")
                .page-ie__text
                    .page-ie__text-name Вы используете браузер Internet Explorer
                    .page-ie__text-desc Данный сайт построен на передовых, современных технологиях и не поддерживается Internet Explorer. Настоятельно рекомендуем выбрать и установить любой из современных браузеров. Это бесплатно и займет всего несколько минут
            a(href="https://www.medialine.by" target="_blank").page-ie__copy Медиа Лайн
                