extends ../layout/main

block variables
    - var title = 'Главная';

block content
    ul.style-temp
        li.green
            a(href="./main.html") main.html - главная
        li.green
            a(href="./news.html") news.html - новости
        li.green
            a(href="./news-card.html") news-card.html - карточка новости
        li.green
            a(href="./catalog-assortment.html") catalog-assortment.html - разводящая ассортимента
        li.green
            a(href="./catalog-collections.html") catalog-collections.html - разводящая коллекции
        li.green
            a(href="./collections-card.html") collections-card.html - карточка коллекции
        li.green
            a(href="./skupka.html") skupka.html - скупка
        li.green
            a(href="./partners.html") partners.html - сотрудничество
        li.green
            a(href="./contact.html") contact.html - контакты
        li.green
            a(href="./shops.html") shops.html - где купить
        li.green
            a(href="./about.html") about.html - о компании
        li.green
            a(href="./404.html") 404.html - 404
        li.green
            a(href="./ie.html") ie.html - ie
        li
            a(href="./catalog-b2b.html") catalog-b2b.html - B2B Список товаров
        li
            a(href="./search-b2b.html") search-b2b.html - B2B Результаты поиска
        li
            a(href="./card-b2b.html") card-b2b.html - B2B карточка товара
        li
            a(href="./contact-b2b.html") contact-b2b.html - B2B Контакты
        li
            a(href="./lc-profile-b2b.html") lc-profile-b2b.html - B2B Личный кабинет (Профиль)
        li
            a(href="./lc-order-b2b.html") lc-order-b2b.html - B2B Личный кабинет (Заказа)
        li
            a(href="./basket-b2b.html") basket-b2b.html - B2B Корзина
        li
            a(href="./ordering-b2b.html") ordering-b2b.html - Оформление заказа B2B