extends ../layout/main

block variables
	- var title = 'Рождение совершентсва: как изготавливают ювелирные изделия на ZORKA ';
	- var breadcrumbsMod = '_white';

block content
	include ../modules/header
	main
		.container 
			include ../modules/breadcrumbs
			.banner-head(style="background-image: url('./img/content/news-card/news-card1.png');")
			.text-page.container-sm
				.text-page__head
					.text-page__title 
						h1 Рождение совершентсва: как изготавливают ювелирные изделия на ZORKA 
				p Рождение совершенства: как изготавливают ювелирные изделия на ZORKA <br>
					|Изготовление ювелирных изделий – тонкий и кропотливый процесс, в результате которого рождается совершенство из золота или серебра.
				P Сегодня изготовлением ювелирных изделий в Минске занимается ювелирный завод ZORKA, один из лидеров ювелирной отрасли в Беларуси. Здесь используются только лучшие мировые технологии и современное оборудование, благодаря чему предприятие славится широким ассортиментом украшений высочайшего качества. Все стадии производства на заводе ZORKA являются сферой приложения огромного таланта и трудолюбия мастеров.
				p Непосредственно производство ювелирных изделий состоит из нескольких этапов, длительность которых определяется многими факторами, главным из которых является сложность изготавливаемого украшения. 
				p Начинается любое украшение с эскиза, который выражает особенности его идеи. Далее к процессу подключается специальный художник, который выполняет трехмерную 3D-модель с помощью специальной программы, позволяющей определить параметры украшения, каратность вставляемого в него драгоценного камня и т.д.
				.img.dbl
					img(src="img/content/news-card/news-card2.png")
					img(src="img/content/news-card/news-card4.png")
				p Готовый эскиз передается 3D художником ювелиру для выращивания пластиковой модели украшения на специальном 3D принтере. Эта модель с точностью до сотых долей миллиметра повторяет предполагаемое изделие, и затем она используется для изготовления гипсовой формы, которая потом используется для литья золота или серебра.
				p Далее в форму заливается расплавленный сплав золота определенной пробы - получается так называемая мастер-модель, на основании которой делают специальную эластичную форму, состоящую из двух половинок. С помощью такой формы получают восковую копию мастер-модели изделия, по которой снова изготавливают гипсовую форму для литья золотой заготовки.
				.img.dbl
					img(src="img/content/news-card/news-card3.png")
					img(src="img/content/news-card/news-card4.png")
				p После отливки золотой или серебряной заготовки она обрабатывается ювелиром-монтировщиком, из рук которого выходит почти готовое отполированное изделие, в котором при необходимости закрепляется камень, а потом проводится окончательная полировка и чистка украшения. 
				.img.dbl
					img(src="img/content/news-card/news-card4.png")
					img(src="img/content/news-card/news-card3.png")
				p Финальными стадиями производства являются контроль качества, пробирование, клеймирование и выдача экспертного заключения на ювелирное изделие, чтобы потребители были уверены в качестве приобретаемой ими продукции
				.img.dbl
					img(src="img/content/news-card/news-card5.png")
					img(src="img/content/news-card/news-card3.png")
	include ../modules/footer
		