include ../mixins

.form.form-sm
  .title Восстановление пароля
  .form-sm__desc Укажите свой Email, под которым Вы зарегистрированы на сайте, и на него будет отправлена информация о восстановлении пароля
  form(action="")
    .form-input__item-icon
      .form-input__icon
        +icon('mail')
      .form-input__item.required--input.input-text-label
        label.absl Email
        input(type="text")
    .required--sbmt.btn.form-input__item Отправить
