.basket-comment
  .basket-head Комментарий к заказу
  form(action="").basket-comment__form
    .form-input__item.input-text-label.textarea
      .absl Введите Ваш комментарий
      textarea(rows="4")
    .form-input__item.input-text-label.form-input__item--double
      input(type="submit" value="Оформить заказ").form-input__btn.required--sbmt
      a(href="#").btn Скачать файл
