.basket-comment
  .basket-head Информация о заказе
  form(action="").basket-comment__form
    .basket-comment__result-row
      .basket-comment__result-field Количество товаров:
      .basket-comment__result-value 105 шт.
    .basket-comment__result-row
      .basket-comment__result-field Итоговый вес:
      .basket-comment__result-value 1052 г.
    .form-input__item.input-text-label.textarea
      .absl Введите Ваш комментарий
      textarea(rows="2")
    .form-input__item
      a.ajax-form(href="popup-success.html" data-class='mfp-fade mfp-sm form-callback' style="width: 100%").btn Успешная отправка (временная кнопка!!)
