.basket-order
  .basket-head Итого о заказе
  .table
    table
      thead
        th Проба
        th Статус
        th Количество (шт.)
        th Вес (г.)
      tbody
        tr
          td 375
          td
            .card-status
              img(src="./img/svg/in-stock.svg" alt="")
              span В наличии
          td 15
          td 18
        tr
          td 375
          td
            .card-status
              img(src="./img/svg/in-progress.svg" alt="")
              span В производстве
          td 45
          td 20
      tbody
        tr
          td
            p 585
          td
            .card-status
              img(src="./img/svg/in-stock.svg" alt="")
              span В наличии
          td
            p 15
          td
            p 18
      tbody
        tr
          td
            p 925
          td
            .card-status
              img(src="./img/svg/in-progress.svg" alt="")
              span В производстве
          td
            p 15
          td
            p 18
