.mp-category
    .mp-category__items 
        a.mp-category__item(href="#")
            img(src="img/content/mp-ct1.png")
        a.mp-category__item(href="#")
            img(src="img/content/mp-ct2.png")
        a.mp-category__item(href="#")
            img(src="img/content/mp-ct3.png")
        a.mp-category__item(href="#")
            img(src="img/content/mp-ct4.png")
        a.mp-category__item(href="#")
            img(src="img/content/mp-ct5.png")
        a.mp-category__item(href="#")
            img(src="img/content/mp-ct6.png")