.mp-ct 
    .mp-ct__wrp 
        .mp-ct__left
            .seo-text 
                .zag Новая коллекция
                p Сегодня изготовлением ювелирных изделий в Минске занимается ювелирный завод ZORKA, который по праву считается одним из лидеров ювелирной отрасли в Беларуси
            .mp-ct__sl.js-ct-sl 
                - for(var i = 0;i<3;i++)
                    .mp-ct-item 
                        .img 
                            img(src="img/content/mp-sl-img1.png")
                        .name Zorka florini silver
                        .info 
                            span.bold Ref: 
                            | 0210496-CR
                        .info 
                            span.bold Металл: 
                            | серебро
                    .mp-ct-item
                        .img 
                            img(src="img/content/mp-sl-img2.png")
                        .name Zorka florini silver
                        .info 
                            span.bold Ref: 
                            | 0210496-CR
                        .info 
                            span.bold Металл: 
                            | серебро
                    .mp-ct-item
                        .img 
                            img(src="img/content/mp-sl-img3.png")
                        .name Zorka florini silver
                        .info 
                            span.bold Ref: 
                            | 0210496-CR
                        .info 
                            span.bold Металл: 
                            | серебро

        .mp-ct__right
            .mp-ct__img(style="background-image: url('./img/content/mp-sl-img.png');")