.mp-news 
    .seo-text 
        .zag Следите за нашей жизнью и новостями
        p Подпишитесь на нас в Instagram или читайте наши самые горячие новости в разделе на сайте
    .mp-news__link 
        a(href="#").mp-news__link-item
            img(src="img/content/mp-insta.png")
        a(href="#").mp-news__link-item
            img(src="img/content/mp-news.png")