.catalog-card
  .catalog-card__img
    img(src="./img/content/catalog-b2b/catalog-card.png" alt="")
  .catalog-card__info
    .catalog-card__info-row
      b Артикул:
      span 156045/w
    .catalog-card__info-row
      b Металл:
      span серебро
    .catalog-card__info-row
      b Средний вес:
      span 4.6
  a(href="#").btn Подробнее
